In [1]:
import pandas as pd
from sportsreference.ncaab.teams import Teams
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
import numpy as np 
import matplotlib.pyplot as plt
import urllib.request


from datetime import datetime
import requests
import os
from bs4 import BeautifulSoup

In [13]:
df = pd.read_csv('NBA_2016_thru_2022_seasons.csv')
df = df[~df['Unnamed: 4'].isna()].reset_index(drop=True)
df['Date'] = pd.to_datetime(df['Date'])
df.sort_values(by=['Date'], ascending=True, inplace=True)
df.drop(columns = ['Unnamed: 0', 'Unnamed: 4'], inplace=True)
df.rename(columns={'Unnamed: 5':'home_away',
                  'Unnamed: 7': 'result',
                  'Unnamed: 8':'ot'}, inplace=True)



# df = df[df['home_away'].isna()].reset_index(drop=True)


# df.drop(columns=['home_away'], inplace=True)

# df['game_key'] = df['home_team'].astype(str) + '_' + df['G'].astype(str) + '_' + df['season'].astype(str)


team_map = pd.read_csv('team_name_mapping.csv')

df = df.merge(team_map, left_on='Opponent', right_on='full_name', how='inner')
df.drop(columns=['Opponent', 'full_name'], inplace=True)

df.rename(columns= {'abbr':'opponent'}, inplace=True)

# df.drop(columns=['home_awa7y],inplace=True)

# df.rename(columns = {'home_team':'home_abbr'}, inplace=True)

df['game_key'] = ''

for i in range(len(df)):
    if (df.loc[i, 'home_away'] == '@'):
        df.loc[i, 'game_key'] = df.loc[i, 'teamgame'] + '_at_' + df.loc[i, 'opponent'] + '_' + datetime.strftime(df.loc[i, 'Date'], '%m/%d/%Y')
    else:
        df.loc[i, 'game_key'] = df.loc[i, 'opponent'] + '_at_' + df.loc[i, 'teamgame'] + '_' + datetime.strftime(df.loc[i, 'Date'], '%m/%d/%Y')
        
df['ppg'] = 0

In [14]:
dff = pd.DataFrame()


for team in df['teamgame'].unique():
    dft = pd.DataFrame(df[df['teamgame'] == team].reset_index(drop=True))
    
    for szn in dft['season'].unique():
        dfts = pd.DataFrame(dft[dft['season'] == szn])
        
        dfts.sort_values(by=['Date'], inplace=True)
        
        dfts.reset_index(drop=True, inplace=True)
        
        for i in range(len(dfts)-1):
            if (dfts.loc[i, 'G'] > 1):
                dfts.loc[i, 'ppg'] = np.mean(dfts.loc[0:i,'Tm'])
                
        dff = pd.concat([dff,dfts])

dff.reset_index(drop=True, inplace=True)

df = dff.copy()

In [15]:
away = df[df['home_away'] == '@'].reset_index(drop=True)
home = df[df['home_away'] != '@'].reset_index(drop=True)

away['wl_total'] = away['G']-1
home['wl_total'] = home['G']-1

away['win_pct'] = 0.0
home['win_pct'] = 0.0

for i in range(len(away)):
    if (away.loc[i,'result'] == 'L'):
        if (away.loc[i, 'wl_total'] == 0):
            away.loc[i, 'win_pct'] = 0
        elif (away.loc[i, 'wl_total'] > 0):
            away.loc[i, 'win_pct'] = away.loc[i, 'W']/(away.loc[i, 'G']-1)
    elif (away.loc[i,'result'] == 'W'):
        if (away.loc[i, 'wl_total'] == 0):
            away.loc[i, 'win_pct'] = 0
        else:
            away.loc[i, 'win_pct'] = (away.loc[i, 'W']-1)/(away.loc[i, 'G']-1)

away.rename(columns={'ppg':'away_ppg'}, inplace=True)
  
for i in range(len(home)):
    if (home.loc[i,'result'] == 'L'):
        if (home.loc[i, 'wl_total'] == 0):
            home.loc[i, 'win_pct'] = 0
        elif (home.loc[i, 'wl_total'] > 0):
            home.loc[i, 'win_pct'] = home.loc[i, 'W']/(home.loc[i, 'G']-1)
    elif (home.loc[i,'result'] == 'W'):
        if (home.loc[i, 'wl_total'] == 0):
            home.loc[i, 'win_pct'] = 0
        else:
            home.loc[i, 'win_pct'] = (home.loc[i, 'W']-1)/(home.loc[i, 'G']-1) 

            
home.rename(columns={'ppg':'home_ppg'}, inplace=True)

In [16]:
away_pcts = pd.DataFrame(away[['game_key', 'win_pct', 'away_ppg']])

away_pcts.rename(columns = 
                {
                    'win_pct':'away_win_pct'
                },
                 
                inplace=True)

home.rename(columns = {'win_pct':'home_win_pct'}, inplace=True)

In [17]:
allg = home.merge(away_pcts, on='game_key', how='inner')

allg['pt_diff'] = allg['Tm'] - allg['Opp']

In [18]:
allg

,G,Date,Start (ET),home_away,result,ot,Tm,Opp,W,L,...,teamgame,season,opponent,game_key,home_ppg,wl_total,home_win_pct,away_win_pct,away_ppg,pt_diff
0,1,2015-10-27,8:00p,NaN,L,NaN,94.0,106.0,0.0,1.0,...,ATL,2016,DET,DET_at_ATL_10/27/2015,0.000000,0,0.000000,0.000000,0.000000,-12.0
1,3,2015-10-30,8:00p,NaN,W,NaN,97.0,94.0,2.0,1.0,...,ATL,2016,CHO,CHO_at_ATL_10/30/2015,101.000000,2,0.500000,0.000000,94.000000,3.0
2,6,2015-11-04,8:00p,NaN,W,NaN,101.0,87.0,5.0,1.0,...,ATL,2016,BRK,BRK_at_ATL_11/04/2015,99.333333,5,0.800000,0.000000,89.800000,14.0
3,8,2015-11-07,7:30p,NaN,W,NaN,114.0,99.0,7.0,1.0,...,ATL,2016,WAS,WAS_at_ATL_11/07/2015,103.875000,7,0.857143,0.600000,102.500000,15.0
4,9,2015-11-09,8:00p,NaN,L,NaN,107.0,117.0,7.0,2.0,...,ATL,2016,MIN,MIN_at_ATL_11/09/2015,104.222222,8,0.875000,0.600000,101.833333,-10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7750,34,2022-01-01,7:00p,NaN,W,OT,117.0,116.0,6.0,28.0,...,DET,2022,SAS,SAS_at_DET_01/01/2022,100.735294,33,0.151515,0.411765,111.485714,1.0
7751,38,2022-01-08,7:00p,NaN,W,NaN,97.0,92.0,8.0,30.0,...,DET,2022,ORL,ORL_at_DET_01/08/2022,100.947368,37,0.189189,0.179487,101.700000,5.0
7752,39,2022-01-10,7:00p,NaN,W,NaN,126.0,116.0,9.0,30.0,...,DET,2022,UTA,UTA_at_DET_01/10/2022,101.589744,38,0.210526,0.700000,115.707317,10.0
7753,41,2022-01-14,7:00p,NaN,W,NaN,103.0,87.0,10.0,31.0,...,DET,2022,TOR,TOR_at_DET_01/14/2022,101.268293,40,0.225000,0.526316,107.282051,16.0
7754,42,2022-01-16,1:00p,NaN,L,NaN,108.0,135.0,10.0,32.0,...,DET,2022,PHO,PHO_at_DET_01/16/2022,101.428571,41,0.243902,0.780488,112.333333,-27.0

In [11]:
elo = pd.read_csv(r'nbaallelo.csv')

In [25]:
elo

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,...,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010trh,nba,0,1947,11/1/1946,1,0,trh,huskies,...,40.294830,nyk,knicks,68,1300.0000,1306.7233,h,l,0.640065,NaN
1,1,194611010trh,nba,1,1947,11/1/1946,1,0,nyk,knicks,...,41.705170,trh,huskies,66,1300.0000,1293.2767,a,w,0.359935,NaN
2,2,194611020chs,nba,0,1947,11/2/1946,1,0,chs,stags,...,42.012257,nyk,knicks,47,1306.7233,1297.0712,h,w,0.631101,NaN
3,2,194611020chs,nba,1,1947,11/2/1946,2,0,nyk,knicks,...,40.692783,chs,stags,63,1300.0000,1309.6521,a,l,0.368899,NaN
4,3,194611020dtf,nba,0,1947,11/2/1946,1,0,dtf,falcons,...,38.864048,wsc,capitols,50,1300.0000,1320.3811,h,l,0.640065,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126309,63155,201506110cle,nba,0,2015,6/11/2015,100,1,cle,cavaliers,...,60.309792,gsw,warriors,103,1790.9591,1809.9791,h,l,0.546572,NaN
126310,63156,201506140gsw,nba,0,2015,6/14/2015,102,1,gsw,warriors,...,68.013329,cle,cavaliers,91,1704.3949,1700.7391,h,w,0.765565,NaN
126311,63156,201506140gsw,nba,1,2015,6/14/2015,101,1,cle,cavaliers,...,60.010067,gsw,warriors,104,1809.9791,1813.6349,a,l,0.234435,NaN
126312,63157,201506170cle,nba,0,2015,6/16/2015,102,1,cle,cavaliers,...,59.290245,gsw,warriors,105,1813.6349,1822.2881,h,l,0.481450,NaN
126313,63157,201506170cle,nba,1,2015,6/16/2015,103,1,gsw,warriors,...,68.519516,cle,cavaliers,97,1700.7391,1692.0859,a,w,0.518550,NaN

In [24]:
allg

,G,Date,Start (ET),home_away,result,ot,Tm,Opp,W,L,...,teamgame,season,opponent,game_key,home_ppg,wl_total,home_win_pct,away_win_pct,away_ppg,pt_diff
0,1,2015-10-27,8:00p,NaN,L,NaN,94.0,106.0,0.0,1.0,...,ATL,2016,DET,DET_at_ATL_10/27/2015,0.000000,0,0.000000,0.000000,0.000000,-12.0
1,3,2015-10-30,8:00p,NaN,W,NaN,97.0,94.0,2.0,1.0,...,ATL,2016,CHO,CHO_at_ATL_10/30/2015,101.000000,2,0.500000,0.000000,94.000000,3.0
2,6,2015-11-04,8:00p,NaN,W,NaN,101.0,87.0,5.0,1.0,...,ATL,2016,BRK,BRK_at_ATL_11/04/2015,99.333333,5,0.800000,0.000000,89.800000,14.0
3,8,2015-11-07,7:30p,NaN,W,NaN,114.0,99.0,7.0,1.0,...,ATL,2016,WAS,WAS_at_ATL_11/07/2015,103.875000,7,0.857143,0.600000,102.500000,15.0
4,9,2015-11-09,8:00p,NaN,L,NaN,107.0,117.0,7.0,2.0,...,ATL,2016,MIN,MIN_at_ATL_11/09/2015,104.222222,8,0.875000,0.600000,101.833333,-10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7750,34,2022-01-01,7:00p,NaN,W,OT,117.0,116.0,6.0,28.0,...,DET,2022,SAS,SAS_at_DET_01/01/2022,100.735294,33,0.151515,0.411765,111.485714,1.0
7751,38,2022-01-08,7:00p,NaN,W,NaN,97.0,92.0,8.0,30.0,...,DET,2022,ORL,ORL_at_DET_01/08/2022,100.947368,37,0.189189,0.179487,101.700000,5.0
7752,39,2022-01-10,7:00p,NaN,W,NaN,126.0,116.0,9.0,30.0,...,DET,2022,UTA,UTA_at_DET_01/10/2022,101.589744,38,0.210526,0.700000,115.707317,10.0
7753,41,2022-01-14,7:00p,NaN,W,NaN,103.0,87.0,10.0,31.0,...,DET,2022,TOR,TOR_at_DET_01/14/2022,101.268293,40,0.225000,0.526316,107.282051,16.0
7754,42,2022-01-16,1:00p,NaN,L,NaN,108.0,135.0,10.0,32.0,...,DET,2022,PHO,PHO_at_DET_01/16/2022,101.428571,41,0.243902,0.780488,112.333333,-27.0