In [10]:
import pandas as pd
from sportsreference.ncaab.teams import Teams
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
import numpy as np 
import matplotlib.pyplot as plt
import urllib.request


from datetime import datetime
import requests
import os
from bs4 import BeautifulSoup

In [28]:
teamz = {
    'ATL': 0,
    'BOS': 1,
    'BRK': 2,  
    'CHO': 3,
    'CHI': 4,
    'CLE': 5,
    'DAL': 6,
    'DEN': 7,
    'DET': 8,
    'GSW': 9,
    'HOU': 10,
    'IND': 11,
    'LAC': 12,
    'LAL': 13,
    'MEM': 14,
    'MIA': 15,
    'MIL': 16,
    'MIN': 17,
    'NOP': 18,
    'NYK': 19,
    'OKC': 20,
    'ORL': 21,
    'PHI': 22,
    'PHO': 23,
    'POR': 24,
    'SAC': 25,
    'SAS': 26,
    'TOR': 27,
    'UTA': 28,
    'WAS': 29,
}

In [30]:
histo = pd.DataFrame()

years = [2016, 2017, 2018, 2019, 2020, 2021, 2022]

for tm in list(teamz):
    for szn in years:
        source = urllib.request.urlopen('https://www.basketball-reference.com/teams/{}/{}_games.html'.format(tm, szn)).read()
        soup = BeautifulSoup(source,'lxml')
        table = soup.find_all('table')
        df = pd.read_html(str(table))[0]
        
        df['teamgame'] = tm
        df['season'] = szn
        
        df = df[df['Opponent'] != 'Opponent'].reset_index(drop=True)
        df.drop(columns=['Unnamed: 3', "Notes"],inplace=True)

        histo = pd.concat([histo, df])

In [31]:
histo

,G,Date,Start (ET),Unnamed: 4,Unnamed: 5,Opponent,Unnamed: 7,Unnamed: 8,Tm,Opp,W,L,Streak,teamgame,season
0,1,"Tue, Oct 27, 2015",8:00p,Box Score,NaN,Detroit Pistons,L,NaN,94,106,0,1,L 1,ATL,2016
1,2,"Thu, Oct 29, 2015",8:00p,Box Score,@,New York Knicks,W,NaN,112,101,1,1,W 1,ATL,2016
2,3,"Fri, Oct 30, 2015",8:00p,Box Score,NaN,Charlotte Hornets,W,NaN,97,94,2,1,W 2,ATL,2016
3,4,"Sun, Nov 1, 2015",2:00p,Box Score,@,Charlotte Hornets,W,NaN,94,92,3,1,W 3,ATL,2016
4,5,"Tue, Nov 3, 2015",7:30p,Box Score,@,Miami Heat,W,NaN,98,92,4,1,W 4,ATL,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,78,"Sun, Apr 3, 2022",1:00p,NaN,@,Boston Celtics,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WAS,2022
78,79,"Tue, Apr 5, 2022",8:00p,NaN,@,Minnesota Timberwolves,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WAS,2022
79,80,"Wed, Apr 6, 2022",8:00p,NaN,@,Atlanta Hawks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WAS,2022
80,81,"Fri, Apr 8, 2022",7:00p,NaN,NaN,New York Knicks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WAS,2022
81,82,"Sun, Apr 10, 2022",NaN,NaN,@,Charlotte Hornets,NaN,NaN,NaN,NaN,NaN,NaN,NaN,WAS,2022

In [18]:
source = urllib.request.urlopen('https://www.basketball-reference.com/teams/WAS/2018_games.html').read()
soup = BeautifulSoup(source,'lxml')

In [24]:

df

,G,Date,Start (ET),Unnamed: 4,Unnamed: 5,Opponent,Unnamed: 7,Unnamed: 8,Tm,Opp,W,L,Streak
0,1,"Wed, Oct 18, 2017",7:00p,Box Score,NaN,Philadelphia 76ers,W,NaN,120,115,1,0,W 1
1,2,"Fri, Oct 20, 2017",7:00p,Box Score,NaN,Detroit Pistons,W,NaN,115,111,2,0,W 2
2,3,"Mon, Oct 23, 2017",9:00p,Box Score,@,Denver Nuggets,W,NaN,109,104,3,0,W 3
3,4,"Wed, Oct 25, 2017",10:30p,Box Score,@,Los Angeles Lakers,L,OT,99,102,3,1,L 1
4,5,"Fri, Oct 27, 2017",10:30p,Box Score,@,Golden State Warriors,L,NaN,117,120,3,2,L 2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,78,"Tue, Apr 3, 2018",8:00p,Box Score,@,Houston Rockets,L,NaN,104,120,42,36,L 2
78,79,"Thu, Apr 5, 2018",8:00p,Box Score,@,Cleveland Cavaliers,L,NaN,115,119,42,37,L 3
79,80,"Fri, Apr 6, 2018",7:00p,Box Score,NaN,Atlanta Hawks,L,NaN,97,103,42,38,L 4
80,81,"Tue, Apr 10, 2018",8:00p,Box Score,NaN,Boston Celtics,W,NaN,113,101,43,38,W 1
81,82,"Wed, Apr 11, 2018",8:00p,Box Score,@,Orlando Magic,L,NaN,92,101,43,39,L 1

In [2]:
teamToIndex = {
    'ATL': 0,
    'BOS': 1,
    'BKN': 2,  
    'CHA': 3,
    'CHI': 4,
    'CLE': 5,
    'DAL': 6,
    'DEN': 7,
    'DET': 8,
    'GSW': 9,
    'HOU': 10,
    'IND': 11,
    'LAC': 12,
    'LAL': 13,
    'MEM': 14,
    'MIA': 15,
    'MIL': 16,
    'MIN': 17,
    'NOP': 18,
    'NYK': 19,
    'OKC': 20,
    'ORL': 21,
    'PHI': 22,
    'PHX': 23,
    'POR': 24,
    'SAC': 25,
    'SAS': 26,
    'TOR': 27,
    'UTA': 28,
    'WAS': 29,
}